{% extends 'base.html' %}
{% block body %}
<section class="p-5">
  <h1>Add student</h1>
  <form class="form-group p-3" method="POST">
    {{form.csrf_token}}
    {{form.first_name.label}}
    {{form.first_name(size=30, class="form-control")}}
    {{form.last_name.label}}
    {{form.last_name(size=30, class="form-control")}}
    {{form.degree.label}}
    {{form.degree(size=30, class="form-control")}}
    <div class="pt-2">
    <a class="btn btn-warning" href="/">Return</a>
      {{form.submit(class="btn btn-primary")}}
    </div>
  </form>
</section>
{% endblock %}
