{% extends 'base.html' %} {% block content %}

<h1>Categorías</h1>

<section class="d-flex justify-content-end">
    <a class="btn btn-success" href="{% url "categorias:formulario" %}">
        Nueva categoría
    </a>
</section>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <td>{{categoria.nombre}}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'categorias:detalle' categoria.id %}">
                    Ver detalle
                </a>
                <a class="btn btn-warning" href="{% url 'categorias:editar' categoria.id %}">
                    Editar
                </a>
                <a class="btn btn-danger" href="{% url 'categorias:eliminar' categoria.id %}">
                    Eliminar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}